.blank {
        display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
        width: 100%;
    padding-top: 300px;
}
.container {
}

.text-boxx {
    display: flex;
    justify-content: center;
    align-items: center;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 2rem;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
    inset 0 4px 20px rgba(255, 255, 255, 0.3);
}

.text-boxx::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2rem;
  backdrop-filter: blur(1px);
  box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 1),
              inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
  opacity: 0.6;
  z-index: -1;

}



@media (min-width:320px)  { 
    .blank {
        flex-direction: column;
        gap: 30px;
    }  
    .text-boxx {
        width: 400px;
        padding: 15px;
        text-align: center;
        font-size: 20px;
    }
  }

@media (min-width:480px)  {
    .blank {
        flex-direction: column;
    }  

        .text-boxx {
        width: 400px;
        padding: 15px;
        text-align: center;
    }
    
  }

@media (min-width:600px)  { 
        .blank {
        flex-direction: column;
    }  
        .text-boxx {
        width: 550px;
        padding: 15px;
        font-size: 20px;
        text-align: center;
        height: 250px;
    }
    
  }

@media (min-width:801px)  { 
        .blank {
        flex-direction: column;
    }  
        .text-boxx {
        width: 750px;
        padding: 15px;
        font-size: 20px;
        text-align: center;
        height: 250px;
    }
    
  }

@media (min-width:1025px) { 
          .blank {
        flex-direction: row;
    }  
        .text-boxx {
        width: 550px;
        padding: 15px;
        font-size: 25px;
        text-align: center;
        height: 450px;
    }
    
  }

@media (min-width:1281px) { 
      .blank {
        flex-direction: row;
    }  
        .text-boxx {
        width: 800px;
        font-size: 30px;
    }
  
  }
