@media (min-width:320px)  { 
      .text-box{
    font-size: 35px;
  }
}
@media (min-width:480px)  {
      .text-box{
    font-size: 35px;
  }
}
@media (min-width:600px)  { 
    .text-box{
    font-size: 55px;
  }
}
@media (min-width:801px)  { 
    .text-box{
    font-size: 70px;
  }
}
@media (min-width:1025px) { 
    .text-box{
    font-size: 85px;
  }
}
@media (min-width:1281px) { 
  .text-box{
    font-size: 100px;
  }
}

.landing {
    min-height: 80vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'veolia';
    border: 0 !important;

}

.button-box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 400px;
  height: 100px;
}
.sale-box{
  background-color: rgb(220, 239, 255);
  width: 180px;
  height: 60px;
  border-radius: 50px;
  font-size: 17px;
}
.about-box{
  background-color: rgb(190, 190, 190);
  width: 180px;
  height: 60px;
  border-radius: 50px;
  font-size: 17px;
  color:  rgb(77, 77, 77);
}
.text-box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  padding-bottom: 0 !important;
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 10px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation:    fade_move_down 4s ease-in-out infinite;
  animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

