.Services {
    padding-top: 200px;
    padding-bottom: 200px;
    font-family: 'inter';

}

.text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.Main-text {
    font-size: 50px;
}

.Second-text {
    font-size: 30px;
    text-align: center;
    font-family: 'lato';
}